html, body, #root, .App {
  height: 100%;
  font-family: monospace;
  font-size: 16px;
}

a {
  color: #000;
  text-decoration: none;
  font-weight: bold;
}

.App {
  background-color: #eaf7f0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.AppContainer {
  margin-bottom: 50px;
}

.ListView {
  list-style-type: none;
  padding-left: 0;
}

.ListItem {
  margin-bottom: 15px;
}

.Accent {
  color: #fe6c23;
}
